.styleFont {
    font-family: 'Send Flowers';
    font-size: 3em;
    color: #000080; /* or #008080 or #333333 or #000080 */
  }
  .header1 {
    background-color: rgba(0, 255, 255, 0.428);
    font-family: "cursiveF";
    color: rgb(49, 47, 47);
    text-align: center;
    padding: 1em;
  }
  h1 {
    text-align: center;
    font-family: cursiveF;
  }
  .marginR {
    margin-right: 1em;
  }
   
  .dancing-script-cursiveF {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .playwrite-hr-lijeva-cursiveF {
    font-family: "Playwrite HR Lijeva", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .roboto-cursiveF {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 236;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .bruno-ace-sc-regular {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  .dynalight-regular {
    font-family: "Dynalight", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .bg-light {
    background-color: rgba(0, 255, 255, 0.428) !important;
    box-shadow: 5.4px 10.7px 10.7px hsl(0deg 0% 0% / 0.33);
  }
  .nav-link:hover {
    background-color: white;
    border-radius: 10px;
  }
  .paddingColMd {
    padding-right: 2em;
  }
  .mainBox {
    background-color: rgba(160, 81, 45, 0.22);
    padding: 5em;
    border-radius: 10px;
  }
  .footer {
    background-color: #00ffff7e;
    padding: 3em;
  }
  .adjust {
    background-color: rgba(255, 0, 0, 0.601);
    padding: 5em;
    border-radius: 10px;
  }
  .imgBox {
    padding: 1em;
    background: white;
    border: 1px solid black;
    margin-right: 1em;
    padding-bottom: 2em;
  }
  img {
    width: 95%;
    height: 95%;
    object-fit: contain;
  }
  .bottom {
    align-items: flex-end;
  }
  .welcomebox {
    padding: 2em;
    border-radius: 10px;
  }
  .titlefont {
    font-family: 'Birthstone';
    font-size: 2.5em;
  }
  .img-bottom {
    width: 50%;
    height: 50%;
  }
  .footerstyle {
    background-color: rgba(0, 255, 255, 0.428);
    text-align: center;
    padding: 2em;
  }
  .colortext {
    color: rgba(160, 81, 45, 0.6);
  }
  .paddingproducts {
    margin-left: 2em;
    margin-right: 2em;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 2000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .whitebag {
    background-color: white;
  }
  .input-group {
    display: flex;
    align-items: center;
  }
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  .subscribe-box {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 300px;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.5s ease-in-out;
    z-index: 2000;
  }
  .subscribe-box.visible {
    bottom: 20px;
  }
  .centerit {
    text-align: center;
    font-size: 5em;
  }